@import url('http://fonts.cdnfonts.com/css/cursed-timer-ulil');
body {
    background-color: #4900a6;
    background-image: linear-gradient(90deg, #4900a6 0%, #000000 100%);
    

    
    color: rgb(255, 255, 255);
    font-family: Verdana;
}
@font-face {
    font-family: 'Cursed Timer ULiL', sans-serif;
    src: url('http://fonts.cdnfonts.com/css/cursed-timer-ulil');
  }


.timer-container{
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    position: relative;
    top: 130;
    margin-top: -100px;
}
.timer-container button {
    font-family: sans-serif;
    background:transparent;
    border : 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 10px;
    font-size: 1.3em;
    width: 30%;

}
.timer-container button:hover{
    transition: 0.1s ease;
    background:rgb(65, 89, 225);
    transform: scale(1);
    border: none;
}


.tm-btn-tank{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#time {
    font-family: 'Cursed Timer ULiL', sans-serif;
    width: 65%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    color: rgb(255, 255, 255) ;
    font-size: 3em;
    text-align: center;
    background: rgba(0, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(0, 204, 255, 0.37);
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 3px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#teams{
    display: flex;
    justify-content: space-between;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.title{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4em;
    margin-left: 20px;
}
.score-container {
    background-color: wheat;
    text-align: center;
    border-radius: 5px;
    
   
}
.score {
    font-family: 'Cursed Timer ULiL', sans-serif;
    color: #000;
    font-size: 4em;
    padding: 50px ;
}

.btn{
    font-family: 'Cursed Timer ULiL', sans-serif;
    background: transparent;
    border : 2px solid gold;
    border-radius: 5px;
    color: gold;
    cursor: pointer;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1.3em;
}
button:hover{
    transition: .3s ease;
    transform: scale(1.05);
}


.new-btn{
    border : 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    width: 150px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    
}
